<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.solacademy.mapper.ScheduleMapper">
    <select id="getAllSchedules" resultType="com.example.solacademy.model.Schedule">
        SELECT * FROM schedule ORDER BY id
    </select>
    <select id="getScheduleById" resultType="com.example.solacademy.model.Schedule">
        SELECT * FROM schedule WHERE id = #{id}
    </select>
    <select id="getScheduleByStudentId" resultType="com.example.solacademy.model.Schedule">
        SELECT * FROM schedule WHERE student_id = #{id}
        order by inicio
    </select>
    <select id="getMaxScheduleID" resultType="long">
        SELECT nvl(max(to_number(id))+1,1) FROM schedule
    </select>
    <insert id="createSchedule">
        INSERT INTO schedule(id, title, inicio, fin, student_id, weekly, serie_id, task_id)
        VALUES(#{id}, #{title}, #{inicio}, #{fin}, #{student_id}, #{weekly}, #{serie_id,jdbcType=VARCHAR},
        #{task_id,jdbcType=NUMERIC})    
    </insert>
    <update id="updateSchedule">
        UPDATE schedule
        SET inicio = #{inicio}, fin = #{fin}
        WHERE id = #{id}
    </update>
    <delete id="deleteSchedule">
        DELETE FROM schedule WHERE id = #{id}
    </delete>
    <delete id="deleteStudentSchedule">
        DELETE FROM schedule WHERE student_id = #{id}
    </delete>
    <delete id="deleteScheduleSerie">
        DELETE FROM schedule WHERE student_id = #{id} AND weekly = 1
        AND serie_id like #{serie_id}
    </delete>
</mapper>